.list__item--completed {
  color: green;
}
.userForm {
  display: flex;
  flex-direction: column;
  border: 1px dashed black;
  width: fit-content;
  padding: 10px;
}
label {
  margin-bottom: 10px;
}

input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
}

input[type="radio"]:checked {
  border-color: #4caf50;
}
input[type="radio"]:checked::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #4caf50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
